@use "@/styles/variables" as *;

.navDrawer  {
  position: fixed;
  top: 0;
  z-index: $drawer-zindex;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 16rem;
  height: 100dvh;
  background-color: $bg-drawer;
  transition: transform ease-in-out 0.3s;

  @include desktop {
    position: sticky;
    grid-area: 1 / 1 / 3 / 2;
    transform: none !important;
    transition: none !important;
  }

  &.open {
    transform: translate(0);
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: $header-height-mobile;
    padding: 0 $screen-padding-tablet;
    border-bottom: 1px solid $border-drawer;
    color: $text-inverse;
    
    @include tablet {
      height: $header-height-tablet;
    }
    
    @include desktop {
      height: $header-height-desktop;
    }

    .logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $bg-brand;
      border-radius: $radius;

      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }

      .logo {
        color: $text-inverse;
      }
    }

    .brand {
      font-size: 1.3rem;
      font-weight: 500;
      color: $text-inverse;
      letter-spacing: 2px;
      cursor: pointer;

      @include desktop {
        font-size: 1.6rem;
      }
    }
  }

  .body {
  }
}