@use "@/styles/variables" as *;

.postCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $screen-padding-mobile;
  border: 1px solid $border-base;
  border-radius: $radius;
  background-color: $bg-on-base;

  @include tablet {
    padding: $screen-padding-tablet;
  }

  @include desktop {
    padding: $screen-padding-desktop
  }
  
  .header {
    margin-bottom: 1rem;
    
    .title {
      overflow: hidden;
      display: -webkit-box;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .date {
      font-size: 0.8rem;
      color: $text-subtle;
    }
  }

  .body {
    margin-bottom: 1rem;
  }

  .footer {
    margin-top: auto;

    .openButton {
      display: block;
      width: 5rem;
      height: 2.2rem;
      margin-left: auto;
      border: none;
      border-radius: $radius;
      background-color: $bg-brand;
      color: $bg-base;
      letter-spacing: 1px;
      cursor: pointer;

      @include tablet {
        width: 6rem;
        height: 2.6rem;
        font-size: 0.9rem;
      }
    }
  }
}