@use "@/styles/variables" as *;

.page {
  width: 100%;
  height: 100%;
  // min-height: calc(100dvh - #{$header-height-mobile});

  @include desktop {
    grid-area: 2 / 2 / 3 / 3;
    overflow-y: auto;
  }
}